[submodule "Frontend"]
	path = Frontend
	url = https://github.com/TamaraAguilar/SimpliSoft-REACT.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/TamaraAguilar/Simplisoft_BackendJava.git
[submodule "BaseDeDatos"]
	path = BaseDeDatos
	url = https://github.com/TamaraAguilar/Simplisoft_MySQL.git
